{{extend 'check.html'}}
{{for postal in postals:}}
<h1 style="color:black;text-align:center;font-size:200%;color:white">{{=postal.Name_EH}}</h1>

<!--
<div style="text-align: center">
	<input type=button style="background-color:gray;width: 500px;height: 45px;color:black" onClick="parent.location='entertainment.html'" value='Home'><input type=button style="background-color:white;width: 500px;height: 45px;color:black" onClick="parent.location='contact_us_entertainment.html'" value='Contact Us'>
</div>
-->

<p></br></p>
<div class="boxed">
<table style="width:100%">
<tr>
	<td width=50%>
		<p style="font-size:100%;padding:50px 50px 0px 50px;color:white">{{=postal.Description_EH}}<br/></p>
	</td>
	<td width=50%>
		<div style="text-align:right;padding:30px 0px 0px 0px">
            <p style="font-size:120%;color:white"><b>Opening Time: {{=postal.Opening_EH}}<br/>Closing Time: {{=postal.Closing_EH}}</b></p>
			<p style="font-size:120%;color:white"><b>Ticket Price: {{=postal.Ticket_Price_EH}}</b></p>
            <p style="font-size:120%;color:white"> Address:
             {{=postal.Street_EH}}, 
             {{=postal.City_EH}}, 
             {{=postal.State_EH}}, 
             {{=postal.Zip_EH}}

            </p>
		</div>
	</td>
</table>
</div>
{{pass}}
<div class="boxed" style="margin-top: 20px;">
    {{for comment in comments:}}

 <div class="well"><strong>{{=comment.User_Comment_Place}}</strong><br/>Rated : {{=comment.User_Rating_Place}}/5<br/><a href={{=URL('comment',args=[comment.id,comment.User_Comment_Place])}}>Comment</a><br />Posted on {{=comment.created_on}} by {{=comment.created_by.first_name}} {{=comment.created_by.last_name}}</p>
    </div>
{{pass}}

<div class="boxed" style="color:white;">
{{=form}}
</div>
</div>
