{{extend 'check.html'}}
{{for postal in postals:}}

<h1 style="color:white;text-align:center;font-size:200%;font face=verdana">{{=postal.Name_FA}}</h1>

<p></br></p>
<div class="boxed">
<table style="width:100%">
<tr><td>
	<p style="font-size:200%;padding:30px 0px 0px 0px;font face=verdana">{{for affil in affils:}}{{=affil.Name_FC}}{{pass}}<br/></p>
</table>
<table style="width:100%">
<tr>
    <td style="padding:0px 0px 0px 30px;font face=verdana" width=10%>Address</td>
    <td style="font-size:100%;padding:0px 0px 0px 30px;font face=verdana" width=20%>
        {{=postal.Street_FA}}<br/>
        {{=postal.City_FA}}<br/>
        {{=postal.State_FA}}<br/>
        {{=postal.Zip_FA}}<br/>
    </td>
</tr>
<tr>
    <td style="padding:0px 0px 0px 30px;font face=verdana">Contact</td>
    <td style="padding:0px 0px 0px 30px;font face=verdana">{{for phone in phones:}}
            {{=phone.Phone_FA}}<br />
            {{pass}}</td>
</tr>
</table>
 {{pass}}
    <div class="boxed1" style="margin-top: 20px;">
    {{for comment in comments:}}

<div class="well"><strong>{{=comment.User_Comment_Place}}</strong><br/>Rated : {{=comment.User_Rating_Place}}/5<br/><a href={{=URL('comment',args=[comment.id,comment.User_Comment_Place])}}>Comment</a><br />Posted on {{=comment.created_on}} by {{=comment.created_by.first_name}} {{=comment.created_by.last_name}}</p>
    </div>
{{pass}}

</div>
<div class="boxed">
{{=form}}
</div>

</div>
