{{extend 'check.html'}}
{{for postal in postals:}}
<h1 style="color:white;text-align:center;font-size:200%;font face=verdana">{{=postal.Name_HT}}</h1>


<p></br></p>
<div class="boxed">
<table style="width:100%">
<tr>
    <td style="padding:0px 0px 0px 30px;color:white;font face=verdana">Description</td>
    <td style ="padding:0px 0px 0px 30px;color:white;font face=verdana">{{=postal.Description_HT}}</td>
</tr>
<tr>
      <td style="padding:0px 0px 0px 30px;color:white;font face=verdana">Address</td>
    <td style ="padding:0px 0px 0px 30px;color:white;font face=verdana">{{=postal.Street_HT}}<br />
        {{=postal.City_HT}} <br />
     {{=postal.State_HT}}-{{=postal.Zip_HT}}<br />
        {{=postal.Website_HT}}</td>
        </tr>
<tr>
    <td style="padding:0px 0px 0px 30px;color:white;font face=verdana">Contact</td>
    <td style="padding:0px 0px 0px 30px;color:white;font face=verdana">{{for phone in phones:}}
            {{=phone.Phone_HT}}<br />
            {{pass}}</td>
</tr>
{{pass}}
    </table>
</div>
<div class="boxed">
    {{for comment in comments:}}
 <div class="well"><strong>{{=comment.User_Comment_Place}}</strong><br/>Rated : {{=comment.User_Rating_Place}}/5<br/><a href={{=URL('comment',args=[comment.id,comment.User_Comment_Place])}}>Comment</a><br />Posted on {{=comment.created_on}} by {{=comment.created_by.first_name}} {{=comment.created_by.last_name}}</p>
    </div>
{{pass}}
<div class="boxed" style="color:white;">
{{=form}}
</div>
</div>
