{{extend 'check.html'}}
{{for postal in postals:}}
<h1 style="color:black;text-align:center;font-size:200%;color:white">{{=postal.Name_RS}}</h1>


<p></br></p>
<div class="boxed">
<table style="width:100%">
<tr>
	<td style="padding:40px 0px 0px 30px;color:black;font face=verdana" width=50%>{{=postal.Description_RS}}</td>
    <td style="padding:40px 0px 0px 30px;color:black;font face=verdana" width=50%>Timings:
        {{=postal.Opening_RS}}--{{=postal.Closing_RS}}<br/><br/>
    Address: 
    {{=postal.Street_RS}}
    {{=postal.City_RS}}, 
        {{=postal.State_RS}}-{{=postal.Zip_RS}}<br/><br/>
        Phone Numbers:<br/>
    {{for phone in phones:}}
    {{=phone.Phone_RS}}<br/>
    {{pass}}</td>
</tr>
</table>
</div>
{{pass}}
<div class="boxed" style="margin-top: 20px;">
    {{for comment in comments:}}

    <div class="well"><strong>{{=comment.User_Comment_Place}}</strong><br/>Rated : {{=comment.User_Rating_Place}}/5<br/><a href={{=URL('comment',args=[comment.id,comment.User_Comment_Place])}}>Comment</a><br />
        <!--{{=A('Edit this post',_class="btn btn-info",_href=URL('edit_post',args=comment.id))}}<br/>-->
        Posted on {{=comment.created_on}} by {{=comment.created_by.first_name}} {{=comment.created_by.last_name}}</p>
    </div>
{{pass}}

</div>
<div class="boxed">
{{=form}}
</div>
