{{extend 'check.html'}}
<h1 style="color:black; margin-top: 40px;"> Taxi Services </h1>
{{=form}}
<table class="table" style="margin-top: 140px;">
        {{if not check_form.accepted:}}
        <tr><th>Name</th><th>Rating</th></tr>

            {{for row in taxi_rows:}}
            <tr>

              <td><a href={{=URL('taxi_place',args=row[2])}}>{{=row[0]}}</a></td>
      
              <td>{{=row[1][0]}}</td>
            </tr>

             {{pass}}
        {{pass}}
    
{{if check_form.accepted:}}
        <tr><th>Name</th><th>Rating</th><th>Distance from current location</th></tr>

{{for er in x:}}
    <tr>
        <td><a href={{=URL('taxi_place',args=er[3])}}>{{=er[0]}}</a></td>
        <td>{{=er[1]}}</td>
        <td>{{=er[2]}}</td>
    </tr>
{{pass}}
        {{pass}}
</table>
